* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    width: 100%;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    background-color: black;
    color: white;
}

.nav-header-wrapper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav-header-title {
    font-size: 2rem;
}

.home-header-wrapper {
    padding: 6px;
    margin: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.home-header,
.main {
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
}

.main-nav {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: grey;
    border: 1px solid black;
    box-shadow: 0 14px 28px rgba(179, 172, 172, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-nav a {
    text-decoration: none;
}



.main-nav a:visited {
    color: black;
}

.main-nav a:hover {
    color: yellow;
}

.input-wrapper {
    width: 100%;
}

/* a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked */

.logout-wrapper,
.nav-left {
    display: inline-block;
}

.login-button-wrapper,
.signup-button-wrapper {
    margin-top: 10px;
    margin-bottom: 15px;
}

.login-button,
.signup-button {
    padding: 6px;
}

.nav-left {
    width: 50%;
}

.logout-wrapper {
    width: 32%;
    float: right;
    text-align: right;
}

.form-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: 1px solid white;
    background-color: rgb(36, 35, 35);
    box-shadow: 0 14px 28px rgba(240, 229, 229, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);

}

.watchlist-link-wrapper,
.home-link-wrapper {
    width: 50%;
    margin-left: 4px;
    margin-right: 5px;
}

.home-link-wrapper {
    margin-left: 1px;
}

.login-link-wrapper {
    text-align: center;
    margin-top: 10px;
}

header {
    margin-top: 45px;
}

.login-form {
    width: 90%;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-header {
    text-align: center;
}

.login-form-entry,
.signup-form-entry {
    text-align: center;
}

.signup-form-entry {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.login-control,
.signup-control {
    margin-left: auto;
    margin-right: auto;
}

.signup-form,
.signup-header-wrapper {
    text-align: center;
}

.signup-header-wrapper,
.login-header-wrapper {
    margin-top: 10px;
    margin-bottom: 15px;
}

#register-link {
    text-decoration: none;
    color: white;
}

#register-link:hover {
    color: yellow;
}

#login-link {
    text-decoration: none;
    color: white;
}

#login-link:hover {
    color: yellow;
}

label {
    padding: 5px;
}

input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

input:hover {
    background-color: rgb(211, 201, 201);
}

.registration-link-wrapper,
.login-link-wrapper {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.add-to-watchlist {
    height: 28px;
}

button,
.added-to-watchlist {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border-radius: 8px;
}

.added-to-watchlist {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: none;
    background-color: #eee;
}

button:hover {
    background-color: rgb(211, 201, 201)
}

.demo-creds {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 8px;
}

.home-header {
    font-size: 2.2em;
}

.top-players-title-wrapper,
.watchlist-header-wrapper {
    margin-top: 10px;
    padding: 10px;
}

.player-list-wrapper,
.watchlist-list-wrapper {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 700px;
    overflow-y: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(36, 35, 35);
    text-align: center;
}

.player-card,
.watchlist-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    display: inline-block;
}

.remove-from-watchlist {
    padding: 5px;
}

.player-title {
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.player-stat {
    text-align: left;
    margin-left: 5px;
    width: 100%;
    font-size: 12px;
}

form input {
    display: inline-block
}

.button-wrapper {
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
    padding: 6px;
}

footer {
    display: block;
    height: auto;
    width: 100%;
    float: none;
    margin-top: 30px;
    text-align: center;
}

footer a {
    display: inline-block;
    width: auto;
    padding: 20px;
    color: white;
    font-size: 25px;
}


/*large desktop*/
/* @media only screen and (max-width: 1600px) {
    body {
        border: 3px solid yellow;
    }
    .skills-container .skills-container-images figure {
        width: 16%;
    }
} */

/*iPhone portrait*/
@media only screen and (min-width: 320px) {
    body {
        border: 3px solid purple;
    }
}

/*iPhone landscape*/
@media only screen and (min-width: 480px) {
    body {
        border: 3px solid green;
    }
    .login-control, .registration-control {
        width: 75%;
    }
}

/*Android landscape*/
@media only screen and (min-width: 640px) {
    body {
        border: 3px solid brown;
    }
    .login-control, .registration-control {
        width: 60%;
    }

    .player-list-wrapper {
        display: block;
    }

    .div-wrapper,
    .watchlist-list-wrapper {
        text-align: center;
    }

    .player-card,
    .watchlist-card {
        width: 45%;
        margin-left: 5px;
        margin-right: 5px;
    }

    button {
        width: 75%;
    }
    .signup-button, .login-button {
        width: 40%
    }
}

/*iPad potrait*/
@media only screen and (min-width: 768px) {
    body {
        border: 3px solid red;
    }
    .signup-button, .login-button {
        width: 35%
    }
    .form-container {
        width: 75%;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        border: 3px solid yellow;
    }
    .signup-button {
        width: 25%
    }

    .player-card,
    .watchlist-card {
        width: 30%;
        margin-left: 5px;
        margin-right: 5px;
    }
}

/*iPad lanscape / small laptop*/
/* @media only screen and (min-width: 1024px) {
    body {
        border: 3 px solid yellow;
    }
} */