.register-page {
    width: 100%;
    height: 100%;
}

.signup-form {
    width: 90%;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signup-header {
    text-align: center;
}

.signup-form-entry {
    text-align: center;
}

.signup-control {
    margin-left: auto;
    margin-right: auto;
}

label {
    padding: 5px;
}

input {
    margin-bottom: 5px;
}

button {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.signup-button-wrapper {
    margin-top: 10px;
}

.login-link-wrapper {
    text-align: center;
    margin-top: 10px;
}